<% @plots.each do |plot| %>
  <div id="plot-<%= plot.id %>">
    <h3>Plot #<%= plot.number %></h3>
    <h4>Plants: <% plot.plant_plots.each do |plant_plot| %></h4>
      <p><%= plant_plot.plant.name %>
        <%= link_to "Remove #{plant_plot.plant.name}", plant_plot_path(plant_plot), method: :delete %>
      </p>
    <% end %>
  </div>
<% end %>
